div.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  div.form-card {
    background-color: rgb(143, 186, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    > div {
      height: 70%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      > label {
        font-size: 30px;
      }
      > input {
        height: 10%;
        width: 50%;
      }
    }
    > button {
      width: 50%;
      height: 10%;
      border-radius: 4px;
      background-color: rgb(29, 126, 200);
    }
  }
}
